.head {
  background-color: #12d5b5;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  padding: 0 7px;
}
.head .text {
  color: #fff;
}
.head .loginTo {
  font-size: 0.37333333rem;
  background-color: #feae11;
  border-color: #feae11;
  color: #fff;
  border-style: dashed;
  margin-top: 0.21333333rem;
  padding-left: 0.66666667rem;
  padding-right: 0.66666667rem;
}
.head .back-btn {
  font-size: 20px;
  width: 1rem;
  left: 0;
}
.positionList {
  margin: 0;
  padding: 0;
}
.positionList .item {
  margin: 0 3px;
  padding: 7px 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}
.positionList .item .logo {
  height: 1.73333333rem;
  width: 1.73333333rem;
  margin-right: 0.34666667rem;
}
.positionList .item .title {
  margin: 3px 0;
}
.positionList .item .text {
  margin: 3px 0;
}
.footer {
  border-top: 1px solid #d4d4d4;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  left: 0;
  right: 0;
  font-size: 0;
}
.footer li {
  font-size: 20px;
  width: 33.33%;
  color: #9f9e9d;
}
.footer li.select {
  background-color: #dbf9f4;
  color: #0ce2a3;
}
.footer .icon-document {
  background-image: url(../image/document.png);
  width: 25px;
  height: 21px;
}
.footer .icon-search {
  background-image: url(../image/search.png);
  width: 24px;
  height: 24px;
}
.footer .icon-my {
  background-image: url(../image/my.png);
  width: 23px;
  height: 25px;
}
.position-info {
  padding: 26px 10px 16px;
  border-bottom: 1px solid #ccc;
}
.position-info .ml {
  margin-left: 20px;
}
.position-info img {
  right: 24px;
  top: 40px;
}
.company-info {
  padding: 20px 15px 3px 85px;
}
.company-info img {
  height: 1.6rem;
  width: 1.6rem;
  left: 15px;
}
.company-info p {
  margin-top: 0;
}
.position-class {
  background-color: #fff;
  border-top: 1px solid #d4d4d4;
  padding: 13px 9px 1px 9px;
}
.position-class h5 {
  margin: 0 0 35px 0;
}
.position-class button {
  outline: none;
  background-color: #def8ef;
  padding: 10px 23px;
  margin-bottom: 5px;
  border-radius: 20px;
}
.position-class button.active {
  background-color: #12d5b5;
  color: #fff;
}
.position-class ul {
  border-top: 1px solid #d4d4d4;
  margin: 5px 0 0 0;
  padding: 0;
}
.position-class ul li {
  list-style: none;
}
.position-class ul span {
  right: 10px;
  top: 20px;
}
.tab {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  margin-top: 1.06666667rem;
  font-size: 0;
}
.tab li {
  font-size: 0.37333333rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  width: 33.3%;
  border-bottom: 2px solid #eee;
}
.tab li.active {
  border-bottom: 2px solid #12d5b5;
}
.sheet {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.sheet .wrap {
  color: #1063e5;
  position: fixed;
  left: 8px;
  right: 8px;
  bottom: 8px;
  z-index: 100;
}
.sheet .wrap li,
.sheet .wrap button {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-size: 0.42666667rem;
  background-color: #f1f2f3;
  width: 100%;
}
.sheet .wrap button {
  margin-top: 0.21333333rem;
  border-radius: 5px;
  color: #1063e5;
}
.sheet .wrap ul {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  max-height: 500px;
  overflow: scroll;
}
.sheet .wrap ul li {
  list-style: none;
  border-bottom: 1px solid #d4d4d4;
}
.search-bar {
  background-color: #12d5b5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
}
.search-bar img {
  transform: scale(0.6);
}
.search-bar input {
  background-color: #eee;
  border-radius: 80px;
  border-style: none;
  border-sizing: border-box;
  outline-width: 0;
  padding-left: 0.53333333rem;
  height: 0.66666667rem;
  width: 5.06666667rem;
}
.search-bar button {
  background-color: #12d5b5;
}
.search-bar button:first-child {
  color: #fff;
}
.search-bar button:last-child {
  color: #9f9e9d;
  background-image: url(../image/search.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 4px;
  padding-left: 20px;
  margin-left: 10px;
}
.search-list {
  margin-top: 2.13333333rem;
}
.bottom-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 2px;
  height: 1.2rem;
  background-color: #12d5b5;
}
.position-desc {
  margin-top: 0.26666667rem;
}
.position-desc h5 {
  font-size: 0.42666667rem;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  padding-left: 10px;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
}
.position-desc pre {
  padding-left: 10px;
  margin-left: 0;
  margin-top: 0;
}
.login {
  background-image: url(../image/background.png);
  background-repeat: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.login form {
  margin-top: 6.93333333rem;
}
.login form .form-item {
  font-size: 0;
  width: 8rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}
.login form .form-item:first-child {
  border-bottom: 1px solid #fff;
}
.login form .form-item .account {
  background-image: url(../image/account.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: 17px 10px;
  height: 1.06666667rem;
  width: 1.46666667rem;
}
.login form .form-item .lock {
  background-image: url(../image/lock.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: 17px 10px;
  height: 1.06666667rem;
  width: 1.46666667rem;
}
.login form .form-item input {
  border-width: none;
  border-style: none;
  padding-left: 0.34666667rem;
  height: 1.01333333rem;
  width: 6.13333333rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.login form .form-item input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.37333333rem;
}
.login form button {
  height: 0.93333333rem;
  width: 8rem;
  font-weight: bold;
  font-size: 0.58666667rem;
}
.login form .log {
  background-color: #12d5b5;
  color: #fff;
  margin-top: 1.86666667rem;
}
.login form .res {
  margin-top: 0.53333333rem;
  background-color: rgba(203, 233, 228, 0.5);
  color: #12d5b5;
  border: 1px solid #12d5b5;
}
.register {
  background-image: url(../image/background.png);
  background-repeat: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.register form {
  margin-top: 1.46666667rem;
}
.register form .form-item {
  font-size: 0;
  width: 8rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
}
.register form .form-item:first-child {
  border-bottom: 1px solid #fff;
}
.register form .form-item .account {
  background-image: url(../image/account.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: 17px 10px;
  height: 1.06666667rem;
  width: 1.46666667rem;
}
.register form .form-item .lock {
  background-image: url(../image/lock.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: 17px 10px;
  height: 1.06666667rem;
  width: 1.46666667rem;
}
.register form .form-item input {
  border-width: none;
  border-style: none;
  outline: none;
  padding-left: 0.34666667rem;
  height: 1.01333333rem;
  width: 6.13333333rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.register form .form-item input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.37333333rem;
}
.register form .message-wrap {
  margin-top: 1.06666667rem;
  width: 8rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  margin-left: auto;
  margin-right: auto;
}
.register form .message-wrap .message-box {
  border-width: none;
  border-style: none;
  padding-left: 0.26666667rem;
  height: 1.01333333rem;
  width: 4.8rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.register form .message-wrap .message-box::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.37333333rem;
}
.register form .message-wrap .message {
  font-size: 0.37333333rem;
  color: #12d5b5;
  border: 1px solid #12d5b5;
  padding: 0 5px;
}
.register form button {
  height: 0.93333333rem;
  width: 8rem;
  font-weight: bold;
  font-size: 0.58666667rem;
}
.register form .log {
  background-color: #12d5b5;
  color: #fff;
  margin-top: 1.6rem;
}
.register form .res {
  margin-top: 0.53333333rem;
  background-color: rgba(203, 233, 228, 0.5);
  color: #12d5b5;
  border: 1px solid #12d5b5;
}
.me img {
  margin-top: 1.6rem;
}
.me span {
  margin-top: 0.66666667rem;
}
.me .btns {
  margin-top: 1.06666667rem;
}
.me .btns button {
  width: 4rem;
  height: 2.53333333rem;
  outline: none;
  background-color: #12d5b5;
  color: #fff;
  font-size: 0.42666667rem;
  margin-left: 0.32rem;
  margin-right: 0.32rem;
}
.me .btns button.logout {
  width: 9.06666667rem;
  height: 1.06666667rem;
  margin-top: 0.53333333rem;
  background-color: red;
}
.bg-w {
  background-color: #fff;
}
.c-w {
  color: #fff;
}
.c-r {
  color: red;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  clear: both;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.p-a {
  position: absolute;
}
.p-r {
  position: relative;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-size: 0.42666667rem;
  background-color: #eee;
}
button {
  border-width: 0;
}
