.positionList{
	margin:0;
	padding:0;
	
	.item{
		margin:0 3px;
		padding:7px 0;
		list-style: none;
		border-bottom: 1px solid @listLineColor;
		
		.logo{
			.h(65);
			.w(65);
			.mr(13);
		}
		.title{
			margin:3px 0;

		}
		.text{
			margin:3px 0;

		}

	}
	
}