<div class="login ta-c">
	<form name="form">
	<div class="form-item ta-l p-r">
		<span  class="account d-ib ta-l va-m"></span>
		<input name="phone" validator="required,phone" ng-model="user.phone" class="d-ib va-m ta-l" type="text" placeholder="输入用户名">
	</div>
	<div class="form-item ta-l p-r">
		<span  class="lock d-ib ta-l va-m"></span>
		<input name="password" validator="required,password" ng-model="user.password" class="d-ib va-m ta-l" type="password" placeholder="输入密码">
	</div>
		
		<button class="log" validation-submit="form" ng-click="submit();">登陆</button>
		<button class="res" ui-sref="register">注册</button>
	</form>
</div>